<%= image_tag image_url('covers/TickCover1.png'), class: "img-responsive center-block cover" %>

<div class="bubble1 visible-lg visible-md"><span class="bubbletext">Galleryl/m</span></div>
<div class="bubble2 visible-sm"><span class="bubbletext2">Gallerysm</span></div>