/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: black;
}

.cover {
	z-index: 0;
}

.bubble1 {
	z-index: 1;
	border: 2px solid black;
	-moz-border-radius: 135px / 75px;
	-webkit-border-radius: 135px / 75px;
	border-radius: 135px / 75px;
	background: white;
	text-align: center;
	line-height: 110px;
	height: 120px;
	width: 240px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.bubbletext {
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	text-transform: uppercase;
	font-size: 40pt;
	font-weight: bold;
	text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
