<div class="footerLinks row center">
	<div class="col-md-4">
		<div class="footerScript text-center">
			Cover Art
		</div>
		<div class="footerLinksText text-center">
			<%= link_to "Cover", root_path, class: "btn btn-link" %>
		</div>
	</div>
  	<div class="col-md-4">
		<div class="footerScript text-center">
			Gallery Images
		</div>
		<div class="footerLinksText text-center">
			<%= link_to "Gallery", galleries_path, class:"btn btn-link" %>
		</div>
  	</div>
  	<div class="col-md-4">
		<div class="footerScript text-center">
			Sign In
		</div>
		<div class="footerLinksText text-center">
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-link"%>
		</div>
  	</div>			
</div>
<div class="footerBoilerPlate">
	AC Artist<sup>TM</sup> Vol. 1, No. 1, July, 1975. (ISSN# 0867-5309) Published by AC Comics, Andrew J. Cieslinski, President. Andrew J. Cieslinski Publisher. OFFICE OF PUBLICATION: < your address here >. <strong>SECOND CLASS POSTAGE PAID AT UTICA, NEW YORK AND AT ADDITIONAL MAILING OFFIECES,</strong> Published whenever I get around to it. Copyright &#169; 2016 by AC Artist Comic Group, Inc. All rights reserved. Prices $100.00 per copy in the U.S. and $125.00 in Canada. Subscription rate for 12 issues $1,200.00 U.S. ; $1,250.00 foreign. Printed in the US. A. No similarity between any ofthe names, characters, persons, and/or institutions in this Web Site or magazine with those of any living or dead person or instituition is intended, and any such similarity which may exist is purely coincidently. This periodical may not be sold except by authroized dealers and is sold subject to the condition that it shall not be sold or distributed with any part of its cover or markings removed, nor in a mutilated condition. THE AC ARTIST (including all prominent characters featured in the issue adn the distinctive likenesses thereof) are trademarks of AC Artist Comic Group, INC. <strong>POSTMASTER: SEND ADDRESS CHANGES TO AC ARTIST, <span style="font-variant: small-caps;">c/o</span> AC ARTIST COMICS, < YOUR ADDRESS HERE></strong>
</div>
